.itemView {
  position: relative;
  width: 80%;
  height: 1.5rem;
  line-height: 1.5rem;
}

.btn {
  height: 1.3rem;
  width: 100px;
}

.btn__remove {
  position: absolute;
  right: 0;
}

.btn__edit {
  position: absolute;
  right: 100px;
}

.todolist {
  list-style-type: none
}

/*.toggle {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  padding: 0;
}*/

.input__header {
  width: 80%;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.7rem;
}

.input__edit {
  position: absolute;
  left: 0;
  height: 1.3rem;
  font-size: 1.1rem;
}

label.editing {
  visibility: hidden;
}